


	<article>
	  <h1 class="h1a">WELCOME HOME</h1>
	  <h3 class="h2a"> Rent unique places to stay from local hosts in 190+ countries. </h3>
	</article>


	<video autoplay loop id="video-background" muted>
	  <source src="https://a0.muscache.com/airbnb/static/London-P1-1.mp4">
	  <source src="https://a0.muscache.com/airbnb/static/London-P1-0.webm">
	</video>
